body {
    background-image: url("../images/baseball_background.jpg");
    background-size: 70%;
}

.jumbotron {
    background-color: red; 

}

.bigBorder {
    border: white 2px solid;
}

.buttonRed {
    background-color: red;
}

.box {
    background-color: black;
    width: 30%;
    border: gray thin solid;
}

.puzzle {
    font-size: 8vw;
    letter-spacing: 10px;
}

.lettersGuessed {
    border: white .5px solid;
}



